%table{:cellpadding => "0", :cellspacing => "0", :height => "266", :width => "503"}
  %col{:span => "3", :width => "75"}/
  %tr
    %td{:width => "75"} saca
    %td{:width => "75"} ['saka]
    %td{:width => "75"} вывоз,извлечение
  %tr
    %td seca
    %td ['seka]
    %td опухоль,припухлость
  %tr
    %td sino
    %td ['sino]
    %td судьба,рок
  %tr
    %td mesa
    %td ['mesa]
    %td стол
  %tr
    %td casa
    %td ['kasa]
    %td дом
  %tr
    %td queso
    %td ['keso]
    %td сыр
  %tr
    %td piso
    %td ['piso]
    %td пол,покрытие,топтание
  %tr
    %td esposo
    %td [es'poso]
    %td жених,муж
  %tr
    %td peseta
    %td [pe'seta]
    %td песета(исп.ден.ед–ца)
  %tr
    %td más
    %td ['mas]
    %td больше,более
  %tr
    %td mes
    %td ['mes]
    %td месяц
  %tr
    %td mis
    %td ['mis]
    %td мои