%table{:cellpadding => "0", :cellspacing => "0"}
  %col{:span => "6", :width => "75"}/
  %tr
    %td{:width => "144"} llamada
    %td{:width => "151"} [λa'maða]
    %td{:width => "289"} вызов
  %tr
    %td llorar
    %td [λo'rar]
    %td плакать, сожалеть
  %tr
    %td lluvia
    %td ['λuβîa]
    %td дождь, поток
  %tr
    %td llave
    %td ['λaβe]
    %td ключ, приспособление
  %tr
    %td llano
    %td ['λano]
    %td простой, понятный, ровный
  %tr
    %td pollo
    %td ['poλo]
    %td птенец, детёныш
  %tr
    %td collar
    %td [ko'λar]
    %td ошейник, ожерелье
  %tr
    %td castellano
    %td [kaste'λano]
    %td кастилец, кастильский
  %tr
    %td allí
    %td [a'λi]
    %td там, туда, тут, тогда
  %tr
    %td сallar
    %td [ka'λar]
    %td молчать, успокаиваться
