%table{:cellpadding => "0", :cellspacing => "0"}
  %col{:span => "6", :width => "75"}/
  %col{:width => "75"}/
  %col{:span => "2", :width => "75"}/
  %tr
    %td{:width => "229"} malla – mala
    %td{:width => "271"} ['maλa – 'mala]
  %tr
    %td allá – Alá
    %td [a'λa – a'la]
  %tr
    %td allada – alada
    %td [a'λaða – a'laða]
  %tr
    %td pilla – pila
    %td [‘piλa – 'pila]
  %tr
    %td sello – sélo
    %td ['seλo – 'selo]
  %tr
    %td lana – llana
    %td ['lana – 'λana]
  %tr
    %td cala – calla
    %td ['kala – 'kaλa]
  %tr
    %td Camila – Camilla
    %td [ka'mila – ka'miλa]
  %tr
    %td Milán – Millán
    %td [mi'lan – mi'λan]
  %tr
    %td Muele – muelle
    %td ['mṷele – 'mṷeλe]
