
%table{:cellpadding => "0", :cellspacing => "0"}
  %col{:span => "6", :width => "75"}/
  %tr
    %td{:width => "49"} buche
    %td{:width => "10"} –
    %td{:width => "89"} bulle
    %td{:width => "49"} ['buĉe
    %td{:width => "10"} –
    %td{:width => "66"} 'buλe]
  %tr
    %td cacha
    %td –
    %td calla
    %td ['kaĉa
    %td –
    %td 'kaλa]
  %tr
    %td tacha
    %td –
    %td talla
    %td ['taĉa
    %td –
    %td 'taλa]
  %tr
    %td bache
    %td –
    %td valle
    %td ['baĉe
    %td –
    %td 'baλe]
  %tr
    %td bicha
    %td –
    %td villa
    %td ['biĉa
    %td –
    %td 'biλa]
  %tr
    %td hache
    %td –
    %td halle
    %td ['aĉe
    %td –
    %td 'aλe]
  %tr
    %td eche
    %td –
    %td elle
    %td ['eĉe
    %td –
    %td 'eλe]
%p &nbsp;
%table{:cellpadding => "0", :cellspacing => "0"}
  %col{:span => "6", :width => "75"}/
  %col{:width => "75"}/
  %col{:span => "3", :width => "75"}/
  %tr
    %td{:width => "48"} racha
    %td{:width => "10"} –
    %td{:width => "40"} ralla
    %td{:width => "10"} –
    %td{:width => "72"} raya
    %td{:width => "52"} ['r:aĉa
    %td{:width => "10"} –
    %td{:width => "46"} 'r:aλa
    %td{:width => "10"} –
    %td{:width => "89"} 'r:aja]
  %tr
    %td hacha
    %td –
    %td halla
    %td –
    %td haya
    %td ['aĉa
    %td –
    %td 'aλa
    %td –
    %td 'aja]
  %tr
    %td hucha
    %td –
    %td hulla
    %td –
    %td huya
    %td ['uĉa
    %td –
    %td 'uλa
    %td –
    %td 'uja]
