%table{:cellpadding => "0", :cellspacing => "0"}
  %col{:span => "3", :width => "75"}/
  %tr
    %td{:width => "75"} puño
    %td{:width => "75"} ['puɲo]
    %td{:width => "75"} кулак,манжета,рукоятко(трости),ручка(сосуда)
  %tr
    %td montaña
    %td [mon'taɲa]
    %td гора,куча
  %tr
    %td tamaño
    %td [ta'maɲo]
    %td размер,величина;такой,подобный
  %tr
    %td castaño
    %td [kas'taɲo]
    %td каштан,коричневый
  %tr
    %td pequeño
    %td [pe'keɲo]
    %td маленький,низкий
  %tr
    %td otoño
    %td [o'toɲo]
    %td осень;отава;(мн.)дети
  %tr
    %td compañero
    %td [kompa'ɲero]
    %td товарищ,партнер,коллега,друг
%p
  Salimos mañana.
  %br/
  [sa'limoz ma'ɲana↓]
  %br/
  Mi cuñado enseña español.
  %br/
  [mi ku'ɲaða en'seɲa espa'ɲol↓]
  %br/
  Doña Ana es española.
  %br/
  ['doɲa 'ana 'es–espa'ɲola↓]
  %br/
  Es un niño pequeño.
  %br/
  ['es–'un 'niɲo pe'keɲo↓]
  %br/
  Estamos en otoño.
  %br/
  [es'tamos–en–o'toɲo↓]
