%p
  Mi cuñado enseña Español.
  %br/
  [mi ku'ɲaðo ͜ en'seɲa ͜ espa'ɲol↓]
  %br/
  El orador es de Toledo.
  %br/
  [el–ora'ðor–'ez ðe to’leðo↓]
  %br/
  Es el retrato de un caballero.
  %br/
  ['es–el r:e'trato ðe ͜ 'uŋ kaβa'λero↓]
  %br/
  La llanura de la Manche es árida.
  %br/
  [la λa'nura ðe La'maɲĉa 'es–'ariða↓]
  %br/
  Es la pura verdad.
  %br/
  ['ez la 'pura βer'ðaᶞ↓]
  %br/
  Luchan por la libertad.
  %br/
  ['luĉam por la liβer'taᶞ↓]
  %br/
  Esas paredes son blancas.
  %br/
  ['esas pa'reðes 'som 'blaŋkas↓]
  %br/
  Marina corre por la carretera.
  %br/
  [Ma'rina 'kor:e por la kar:e'tera↓]&nbsp;
  %br/
  Román vive en Roma.
  %br/
  [r:o'mam 'biβe ͜ en 'r:oma↓]
  %br/
  Duran compra sellos.
  %br/
  [du'raŋ 'kompra 'seλos↓]
  %br/
  Amaro mira una revista española.
  %br/
  [a'maro 'mira ͜ 'una r:e'βista ͜ espa'ɲola↓]
  %br/
  Ramón es madrileño.
  %br/
  [Ra'mon–ez maðri'leɲo↓]
