%table{:cellpadding => "0", :cellspacing => "0"}
  %col{:span => "2", :width => "75"}/
  %tr
    %td{:width => "75"} Europa
    %td{:width => "75"} [eṷ'ropa]
  %tr
    %td Rusia
    %td ['r:usîa]
  %tr
    %td Bulgaria
    %td [bul'ɣarîa]
  %tr
    %td Alemania
    %td [ale'manîa]
  %tr
    %td Francia
    %td ['franθîa]
  %tr
    %td Hungria
    %td [uŋ'gria]
  %tr
    %td Polonia
    %td [po'lonîa]
  %tr
    %td Rumanía
    %td [r:uma'nia]
  %tr
    %td Bolivia
    %td [bo'liβîa]
  %tr
    %td Colombia
    %td [co'lombîa]
  %tr
    %td Ecuador
    %td [ekṷa'ðor]
  %tr
    %td Guatemala
    %td [gṷate'mala]
  %tr
    %td Venezuela
    %td [bene'θṷela]
  %tr
    %td Suecia
    %td ['sṷeθîa]
  %tr
    %td Suiza
    %td ['sṷiθa]
  %tr
    %td Asia
    %td ['asîa]
  %tr
    %td Australia
    %td [aṷs'tralîa]
  %tr
    %td Oceanía
    %td [oθea'nia]
%p
  Le day una Buena noticia.
  %br/
  [le ðoj–'una 'βṷena no'tiθîa↓]
  %br/
  Muchas gracias.
  %br/
  ['muĉaz 'ɣraθîas↓]
  %br/
  Buenos días.
  %br/
  ['bṷenoz 'ðias↓]
  %br/
  Hoy hace viento.
  %br/
  ['oî ↑| 'aθe 'βîento↓]
  %br/
  ['oj–'aθe 'βîento↓]
  %br/
  Llueve a mares.
  %br/
  ['λṷeβe ͜ a 'mares↓]
  %br/
  Hace buen tiempo.
  %br/
  ['aθe 'βṷen 'tîempo↓]
  %br/
  En invierno nieva mucho.
  %br/
  [en–im'bîerno 'nîeβa 'muĉo↓]
  %br/
  Sopla un viento fuerte.
  %br/
  ['sopla ͜ 'um 'bîento 'fṷerte↓]
  %br/
  Muy bien,de acuerdo.
  %br/
  ['muî 'βîen ↓| de ͜ a'kṷerðo↓]
