%p
  No cambíeis nada.
  %br/
  ['no kam'bîeîz 'naða↓]
  %br/
  El salto del Guayrá está en el Paraguay.
  %br/
  [el 'salto ðel ɣṷaî'ra ↑| es'ta ͜ en–el para'ɣṷaî↓]
  %br/
  Estudiáis el castellano.
  %br/
  [estu'ðîaîs–el kaste'λano↓]
  %br/
  Pronanciáis bien.
  %br/
  [pronun'θîaîz 'βîen↓]
  %br/
  El rio Uruguay nace en el Brasil.(en Brasil)
  %br/
  [el 'r:io ͜ ṷru'ɣṷaî ↑| 'naθe ͜ en–el βra'sil↓][em bra'sil]
  %br/
  Camagüey es una provincia de Cuba.
  %br/
  [kama'ɣṷej–'es–'una pro'βinθîa ðe 'kuβa↓]
  %br/
  Continuáis leyendo.
  %br/
  [konti'nṷaîz Le'jendo↓]
  %br/
  Quiere que actuéis hay.
['kîere ke ͜ ak'tṷeîs–'oî↓]
