%table{:cellpadding => "0", :cellspacing => "0"}
  %col{:span => "3", :width => "75"}/
  %tr
    %td{:width => "79"} gimnasia
    %td{:width => "95"} [χim'nasia]
    %td{:width => "384"} гимнастика
  %tr
    %td jota
    %td ['χota]
    %td хота(название буквы [j]), мельчайшая доля
  %tr
    %td joven
    %td ['χoβen]
    %td молодой,холостой,юноша,девушка
  %tr
    %td viejo
    %td ['bîeχo]
    %td старый,давний,ветхий,старик
  %tr
    %td jueves
    %td ['χṷeβes]
    %td четверг
  %tr
    %td junio
    %td ['χunîo]
    %td июнь
  %tr
    %td julio
    %td ['χulîo]
    %td июль
  %tr
    %td jugo
    %td ['χujo]
    %td сок,содержательность,насыщенность
  %tr
    %td mujer
    %td [mu'χeR]
    %td женщина,жена
  %tr
    %td agenda
    %td [a'χenda]
    %td записная
  %tr
    %td Argentina
    %td [arχen'tina]
    %td Аргентина
  %tr
    %td ejercicio
    %td [eχer'θiθio]
    %td упражнение,задание
  %tr
    %td Egipto
    %td [e'χipto]
    %td Египет
  %tr
    %td Bélgica
    %td ['belχika]
    %td Бельгия
  %tr
    %td ejemplo
    %td [e'χemplo]
    %td пример,модель
  %tr
    %td página
    %td ['paχina]
    %td страница
  %tr
    %td trabajo
    %td [tra'βaχo]
    %td работа,труд
  %tr
    %td rojo
    %td ['r:oχo]
    %td красный,рыжий
  %tr
    %td reloj
    %td [r:e'loχ]
    %td часы
  %tr
    %td dijo
    %td ['diχo]
    %td ?слово,выражение
  %tr
    %td ajo
    %td ['aχo]
    %td чеснок
  %tr
    %td hijo
    %td ['iχo]
    %td сын,отпрыск,уроженец,(мн.)дети
%p
  La mujer de Joaquín es muy joven.
  %br/
  [La mu'χer ðe χoa'kin 'ez 'muî 'χoβen↓]
  %br/
  Justina baila la jota.
  %br/
  [χus'tina 'βaîla la 'χota↓]
  %br/
  Tengo el reloj en la relojería.
  %br/
  ['teŋgo ͜ el r:e'loχ–en la r:eloχe'ria↓]
  %br/
  Trabaja en la embajada de Ginebra.
  %br/
  [tra'βaχa ͜ en la ͜ emba'χaða ðe χi'neβra↓]
  %br/
  Juego al ajedrez con Juárez.
  %br/
  ['χṷejo ͜ al–aχe'ðreθ koŋ 'χṷareθ↓]
