%p
  Las cosas de palacio van despacio.
  %br/
  [Las 'kosaz ðe pa'laθio 'βan des'paθîo↓]
  %br/
  Cuando el rio suena agua lleva.
  %br/
  [kṷando ͜ el 'r:io 'sṷena ↑| 'aɣṷa 'λeβa↓]
  %br/
  Izquierdo toma cerveza en una cerveceria.
  %br/
  [iθ'kîerðo 'toma θer'βeθa ͜ en–'una θerβeθe'ria↓]
  %br/
  ¿Cuántos somos?–Somos cinco.
  %br/
  ['kṷantos 'somos ↓ ǁ 'somos 'θiŋko↓]
  %br/
  Hoy hace frio.Hiela y hace viento.
  %br/
  ['oj–'aθe 'frio ↓ ǁ 'jela j–'aθe 'βîento↓]
  %br/
  Es un suceso sensacional.
  %br/
  ['es–'un su'θeso sensaθîo'nal↓]
  %br/
  Les regala unas rosas.
  %br/
  [les r:e'ɣala ͜ 'unas 'r:osas↓]
  %br/
  Toma el ascensor.
  %br/
  ['toma ͜ el–asθen'sor↓]
  %br/
  Estudiáis el castellano.
  %br/
  [estu'ðîaîs–el kaste'λano↓]
  %br/
  Tengo una buena colección de sellos uruguayos.
['teŋgo ͜ 'una 'βṷena kolek'θîon de 'seλos–uru'ɣṷajos↓]
