%p
  При полном перечислении (перед последним его членом стоит союз
  = succeed ")" do
    %strong y
  все глаголы произносятся с понижением тона, как в простом повествовательном предложении, кроме предпоследнего, в котором тон повышается. Последний элемент перечисления произносится с наибольшим понижением тона.
#mainContent2
  %p
    1.En el cuarto hay una mesa, dos sillas y un armario.
    %br/
  %p
    2.En las mesas hay libros, cuadernos, plumas y lapíces.
    %br/
  %p
    3.Quiero comprar libros, revistas y periodícos.
    %br/
  %p
    4.Paseamos por las calles, plazas y avenidas de la ciudad.
    %br/
  %p 5.Miguel canta, baila y toca la guitarra.
