%p
  При неполном перечислении, то есть при отсутствии союза
  = succeed "," do
    %strong y
  все члены предложения произносятся с понижением тона. Последний элемент перечисления произносится с наибольшим понижением тона.
#mainContent2
  %p
    a)
    %br/
    %br/
    1.	Hablamos de música, de política, de deportes.
    %br/
    2.	Tengo abuelos, tíos,primos, nietos.
    %br/
    3.	Viaja por Colombia, Ecuador, Perú,Venezuela.
    %br/
    4.	Por la mañana lee la prensa, mira la correspondencia, contesta a las cartas, recibe delegaciones.
    %br/
    5.	Andrés pinta, toca el piano, canta, baila.
    %br/
    %br/
    b)
    %br/
    %br/
    1.Compro papel, sobres, plumas y libretas.
    %br/
    2.Estudia geografía, física, química, matemáticas.
    %br/
    3.Por la tarde leo libros, miro revistas y escribo cartas.
    %br/
    4.El piso tiene un despacho,dos alcobas y un cuarto de baño.
    %br/
    5.Los sábados descanso, leo alguna novela, veo la TV,voy al teatro.
