%table{:cellpadding => "0", :cellspacing => "0"}
  %col{:span => "3", :width => "75"}/
  %tr
    %td{:width => "106"} enero
    %td{:width => "121"} [e'nero]
    %td{:width => "408"} январь
  %tr
    %td otro
    %td ['otro]
    %td другой
  %tr
    %td tres
    %td ['tres]
    %td три,трое
  %tr
    %td curso
    %td ['kurso]
    %td направление,курс
  %tr
    %td fruta
    %td ['fruta]
    %td фрукт,плод
  %tr
    %td carta
    %td ['karta]
    %td письмо,указ,распоряжение
  %tr
    %td primo
    %td ['primo]
    %td простой(о
  %tr
    %td prensa
    %td ['prensa]
    %td пресс,зажим,типография,печать,журналистика
  %tr
    %td Caracas
    %td [ka'rakas]
    %td Каракас
  %tr
    %td cartera
    %td [kar'tera]
    %td бумажник,портфель,сумка,папка
  %tr
    %td torero
    %td [to'rero]
    %td тореро
  %tr
    %td camarero
    %td [kama'rero]
    %td слуга,официант
  %tr
    %td mar
    %td ['mar]
    %td море;множество,обилие
  %tr
    %td por
    %td ['por]
    %td по,через,за,для,чтобы,вместо
  %tr
    %td par
    %td ['par]
    %td равный,одинаковый,пара,четный
  %tr
    %td ser
    %td ['ser]
    %td быть,находиться,существование,бытие,ценность
  %tr
    %td ir
    %td ['ir]
    %td идти,ходить,подходить,передвигаться,ехать
  %tr
    %td flor
    %td ['flor]
    %td цветок