%p
  Альтернативный вопрос (допускающий два или несколько ответов) представляет собой два вопроса, соединенных союзом
  %strong o
  = succeed "(\u{438}\u{43b}\u{438})." do
    %strong           %br/
  Предложения с альтернативным вопросом обычно начинаются глаголом. Интонация первой частиальтернативного вопроса до союза
  %strong o
  восходящая, второй части – нисходящая.
#mainContent2
  %p
    a)
    %br/
    1.¿Es usted ruso o español?
    %br/
    2.¿Habla usted el francés o el inglés?
    %br/
    3.¿Viven ustedes en Moscú o en Kíev?
    %br/
    4.¿Estudia Pedro o trabaja?
    %br/
    5.¿Es Petrov reportero gráfico o periodista?
    %br/
    6.¿Está Pablo en el despacho o en la biblioteca?
    %br/
    7.¿Es joven o viejo?
    %br/
    8.¿Es grande o pequeña la casa?
    %br/
    9.¿Quiere usted ser ingeniero o arquitecto?
    %br/
    10.¿Es Andrés hondureño o colombiano?
    %br/
    %br/
    b)
    %br/
    1.¿Habla usted el inglés o el español?–Hablo el español.
    %br/
    2.¿Estudia Pedro en un instituto o en la universidad?–Estudia en la universidad.
    %br/
    3.¿Quiere usted ir a un museo o a un teatro?–Quiero ir a un museo.
    %br/
    4.¿Son las cinco o las seis?–Son las cinco.
    %br/
    5.¿Es alto o bajo su amigo?–Es alto.
    %br/
    6.¿Está Pedro en el despacho o en el comedor?–Está en el comedor.
    %br/
    7.¿Es Andrés joven o viejo?–Es joven.
    %br/
    8.¿Es Pablo escritor o periodista?–Es periodista.
