%p
  trabajado
  %br/
  hablado
  %br/
  comprado
  %br/
  sacado
  %br/
  viajado
  %br/
  mirado
  %br/
  fumado
  %br/
  entrado
  %br/
  tomado
%p
  He fumado mucho.
  %br/
  Ha hablado en francés.
  %br/
  Ha comprado un libro.
  %br/
  He viajado por Cuba.
  %br/
  Hemos trabajado mucho.
  %br/
  He desayunado en casa.
  %br/
  Han tomado el metro.
  %br/
  Han llegado tarde.
