%p
  a)
  %br/
  %br/
  1.¿Qúe hora es?–Es la una.
  %br/
  2.¿Son las dos?–No,no son las dos.Son las tres y cuarto.
  %br/
  3.¿A qué hora desayuna usted?–Desayuno a las nueve en punto.
  %br/
  4.¿Es tarde?–No, es temperano.
  %br/
  5.¿Almuerza usted a mediodía?–No, señor, almuerzo a las dos.
  %br/
  6.¿Vuelve usted a casa tarde?–Sí, señor, vuelvo a medianoche.
  %br/
  %br/
  b)
  %br/
  %br/
  1.¿Quién es usted?–Soy Jorge Jiménez.
  %br/
  2.¿Es usted peruano?–Sí,señor, soy peruano.
  %br/
  3.¿Es usted de Lima?– Sí,señor,soy de Lima.
  %br/
  4.¿Es usted periodista?–No, señor, no soy periodista.
  %br/
  5.Qué es usted?–Soy médico.
  %br/
  6.¿Es usted el director de una clínica de Lima?– Sí,señor,soy el director de una clínica de Lima.
