%p Primera parte
#mainContent2
  %p
    ¿Qué es esto? –Es un cerilla.
    %br/
    ¿Qué es esto? –Es un reloj.
    %br/
    ¿Qué es esto? –Es un sello.
    %br/
    ¿Qué es esto? –Es una cerveza.
    %br/
    ¿Qué es esto? –Es un perro.
    %br/
    ¿Qué es esto? –Es un llave.
    %br/
    ¿Qué es esto? –Es un ascensor.
    %br/
    ¿Qué es esto? –Es una baraja.
  %p Segunda parte.
  %p
    ¿Tiene Uste un cigarillo? –Sí,tengo un cigarillo.
    %br/
    ¿Tiene Uste una hija? –Sí,tengo una hija.
    %br/
    ¿Tiene Uste un reloj? –Sí,tengo un reloj.
    %br/
    ¿Tiene Uste una guitarra? –Sí,tengo una guitarra.
    %br/
    ¿Tiene Uste un sello? –Sí,tengo un sello.
    %br/
    ¿Tiene Uste un cuchara? –Sí,tengo un cuchara.
    %br/
    ¿Tiene Uste un billete? –Sí,tengo un billete.
    %br/
    ¿Tiene Uste una revista? –Sí,tengo una revista.
  %p
    ¿Hay naranjas? –Sí,hay naranjas.
    %br/
    ¿Hay coches?–Sí,hay coches.
    %br/
    ¿Hay cerillas?–Sí,hay cerillas.
    %br/
    ¿Hay duchas?–Sí,hay duchas.
    %br/
    ¿Hay flores?–Sí,hay flores.
    %br/
    ¿Hay uvas?–Sí,hay uvas.
    %br/
    ¿Hay camareros?–Sí,hay camareros.
  ¿Hay manzanas?–Sí,hay manzanas.
