%p
  1.
  %br/
  –¿Tiene usted una cerveza muy fría? Tengo sed.
  %br/
  –Sí,senor.Aquí tiene.
  %br/
  –¿Cuánto es?
  %br/
  –cincuenta pesetas.
  %br/
  –Sólo tengo un billete de mil. ¿Tiene usted cambio?
  %br/
  –Sí,señor.
  %br/
  –Grasias.Adiós.
%p
  2.
  %br/
  \&nbsp;Carmen y Luis tienen un piso en la ciudad y una casa en el campo.
  %br/
  –¿Tiene la casa un jardín grande?
  %br/
  –Sí,muy grande y muy bonito,con árboles y flores.
  %br/
  –También tienen un perro y un gato.
