%table{:cellpadding => "0", :cellspacing => "0"}
  %col{:span => "2", :width => "75"}/
  %tr
    %td{:width => "75"} abre
    %td{:width => "75"} открывает
  %tr
    %td albaricoque
    %td абрикос(m)
  %tr
    %td base
    %td база (f)
  %tr
    %td bebe
    %td пьет
  %tr
    %td carta
    %td письмо (f)
  %tr
    %td cartera
    %td портфель,бумажник (f)
  %tr
    %td come
    %td ест
  %tr
    %td en
    %td в (prep)
  %tr
    %td escribe
    %td пишет
  %tr
    %td fruta
    %td фрукт (f)
  %tr
    %td fuma
    %td курит
  %tr
    %td habla
    %td говорит,разговаривает
  %tr
    %td lee
    %td читает
  %tr
    %td libro
    %td книга (m)
  %tr
    %td mete en
    %td кладет во что–либо
  %tr
    %td mira
    %td смотрит
  %tr
    %td no
    %td нет,не(отриц.частица)
  %tr
    %td novela
    %td роман (f)
  %tr
    %td pluma
    %td ручка (f)
  %tr
    %td puro
    %td сигара (m)
  %tr
    %td saca
    %td достает
  %tr
    %td sobre
    %td конверт (m)
  %tr
    %td toma
    %td берет
  %tr
    %td vaso
    %td стакан (m)
%p Texto “Arturo lee.Benito escribe”
%p
  \&nbsp;Arturo toma una cartera. Abre la cartera. Saca un libro. Arturo mira el libro. Arturo lee. Arturo lee una novela. Lee la novela “La base”.
  %br/
  \&nbsp;Benito no lee. Benito toma una pluma. Benito escribe. Benito escribe una carta. Benito toma un sobre. Mete la carta en el sobre.
  %br/
  \&nbsp;Arturo toma una fruta. Arturo come. Come un albaricoque. Benito no come. Benito toma un vaso. Benito bebe.
  %br/
  \&nbsp;Arturo habla, Benito no habla. Benito fuma. Fuma un poro.
%p Texto “Amaro escribe una carta”
%p &nbsp;Amaro toma una cartera. Abre la cartera. Saca una pluma. Saca un sobre. Amaro toma la pluma. Amaro escribe una carta. Toma el sobre. Mete la carta en el sobre.
