%p Vocabulario:
#mainContent2
  %table{:cellpadding => "0", :cellspacing => "0"}
    %col{:span => "2", :width => "75"}/
    %tr
      %td{:width => "172"} ahora
      %td{:width => "241"} сейчас (adv)
    %tr
      %td amarillo
      %td желтый (adj)
    %tr
      %td América
      %td Америка (f)
    %tr
      %td año
      %td год (m)
    %tr
      %td avenida
      %td проспект (f)
    %tr
      %td blanco
      %td белый (adj)
    %tr
      %td café
      %td кафе;кофе (m)
    %tr
      %td calle
      %td улица (f)
    %tr
      %td capital
      %td столица (f)
    %tr
      %td casa
      %td дом (f)
    %tr
      %td compañero
      %td товарищ, приятель (m)
    %tr
      %td compra
      %td покупает
    %tr
      %td correos
      %td почта (m pl)
    %tr
      %td Cuba
      %td Куба (f)
    %tr
      %td cubano
      %td кубинский (adj)
    %tr
      %td echa
      %td бросает,опускает
    %tr
      %td entra en
      %td входи в
    %tr
      %td España
      %td Испания (f)
    %tr
      %td está
      %td находится
    %tr
      %td La Habana
      %td Гавана (f)
    %tr
      %td latinoamericano
      %td латиноамериканский (adj)
    %tr
      %td limonada
      %td лимонад
    %tr
      %td mesa
      %td стол
    %tr
      %td muchacho
      %td юноша (m)
    %tr
      %td pasea por
      %td гуляет по
    %tr
      %td paseo
      %td бульвар (m)
    %tr
      %td pone
      %td кладет
    %tr
      %td refresco
      %td прохладительный напиток
    %tr
      %td relato
      %td рассказ (m)
    %tr
      %td revista
      %td журнал (f)
    %tr
      %td sale
      %td выходит
    %tr
      %td su
      %td его,свой (pron. зд.)
    %tr
      %td universidad
      %td университет
    %tr
      %td va(van)
      %td идет,едет(идут,едут)
    %tr
      %td vive
      %td живет
  %p Выражения и словосочетания:
  %p
    echa en correos – бросает(опускает) на почте
    %br/
    está en casa — (находится) дома
    %br/
    sale de casa — выходит из дома
    %br/
    toma un café (un refresco, una limonada)– пьет кофе(прохладительный напиток,лимонад)
    %br/
    un rato — немного (о времени)
    %br/
    va a correos — идет на почту
  %p Texto “Salvador Durán”
  %p
    \&nbsp;Salvador Durán vive en Cuba. Vive en La Habana, en la calle de Colón.* El muchacho está ahora en casa. Durán lee un relato. Lee el relato “Un año en España”.
    %br/
    \&nbsp;Salvador pone el libro sobre la mesa. Salvador toma una cartera amarilla. Abre la cartera. Saca una pluma blanca de la cartera. Salvador escribe unas cartas. Mete las cartas en la cartera. Sale de casa. Sale a la calle. Va a correos. Echa las cartas en correos.
    %br/
    \&nbsp;Salvador pasea por una avenida de la capital de Cuba. Pasea por la Avenida de Bolívar.** Salvador va al Paseo de Martí.*** En el Paseo de Martí compra unos libros latinoamericanos. Salvador mete los libros en la cartera.
    %br/
    \&nbsp;Durán entra en un café. Entra en el café “América”. Toma un refresco. Toma una limonada. Salvador compra una revista cubana. Salvador mira en el café la revista “Cuba”. Andrés Vidal entra en el café “América”.&nbsp; Andrés toma un café.&nbsp; Andrés Vidal habla un rato con su compañero Salvador. Vidal sale con&nbsp; Durán del&nbsp; café. Los compañeros van por la calle “L” a la Universidad de La Habana.
  %p
    *Cristóbal Colón — Христофор Колумб(1451–1506) — выдающийся мореплаватель, открывший Америку в 1492.
    %br/
    **Simón Bolívar — Симон Боливар(1783–1830)– один из руководителей борьбы за независимость испанских колоний в Америке.
    %br/
    ***José Martí — Хосе Марти(1853–1895) — выдающийся кубинский революционер, философ,поэт, публицист.
  %p
    Texto “Andrés está en casa”
    %br/
    \&nbsp;
    %br/
    \&nbsp;Andrés está en casa. Lee la novella “Doña Bárbara”. Pone la novella sobre la mesa. Toma la cartera. Saca de la cartera una pluma blanca. Escribe unas cartas.
    %br/
    \&nbsp;Entra Pablo. Andrés habla con su compañero:
    %br/
    – ¿Dónde está su compañero Fernando? ¿Está en La Habana?
    %br/
    – No, no está en La Habana. Está en Lima, en la capital del Perú.
    %br/
    – ¿Escribe Fernando?
    %br/
    – Sí, escribe.
    %br/
    \&nbsp;Las cartas de Fernando están sobre la mesa. Andrés lee una de las cartas. Los compañeros toman café.
  %p
    Texto “En una café”
    %br/
    \&nbsp;Alberto está en el café “América”. Alberto toma un café.
    %br/
    \&nbsp;Entra su compañero Benito. Benito toma un refresco. Benito habla con Alberto. Alberto compra una revista. Compra la revista “Cuba”.
    %br/
    Mira la revista. Alberto sale a la calle con Benito. Los compañeros van a casa de Salvador.
