%p Vocabulario:
#mainContent2
  %table{:cellpadding => "0", :cellspacing => "0"}
    %col{:span => "2", :width => "75"}/
    %tr
      %td{:width => "145"} además
      %td{:width => "419"} кроме того (adv)
    %tr
      %td alumno
      %td ученик, учащийся, слушатель (m)
    %tr
      %td América Latina
      %td Латинская Америка
    %tr
      %td amigo
      %td друг, приятель (m)
    %tr
      %td armario
      %td шкаф (m)
    %tr
      %td asistir (a)
      %td присутствовать (vi)
    %tr
      %td aula
      %td аудитория (f)
    %tr
      %td azul
      %td голубой,синий (adj)
    %tr
      %td bien
      %td хорошо (adv)
    %tr
      %td bolígrafo
      %td шариковая ручка (m)
    %tr
      %td celebrar
      %td отмечать, праздновать, проводить (vt)
    %tr
      %td ciudad
      %td город (f)
    %tr
      %td clase
      %td урок, аудитория, класс (f)
    %tr
      %td claro
      %td светлый&nbsp;&nbsp;&nbsp; (adj)
    %tr
      %td color
      %td цвет&nbsp;&nbsp;&nbsp;&nbsp; (m)
    %tr
      %td comprender
      %td понимать&nbsp; (vt)
    %tr
      %td contestаr
      %td отвечать&nbsp; (vt)
    %tr
      %td cuaderno
      %td тетрадь&nbsp;&nbsp; (m)
    %tr
      %td cuarto
      %td комната&nbsp;&nbsp; (m)
    %tr
      %td de
      %td о, об&nbsp;&nbsp;&nbsp; (prep)
    %tr
      %td después de
      %td после чего–л. (prep)
    %tr
      %td día
      %td день&nbsp;&nbsp;&nbsp;&nbsp; (m)
    %tr
      %td dice
      %td (3л глагола decir) говорит
    %tr
      %td es
      %td (3л глагола ser) есть (глагол–связка)
    %tr
      %td escuchar
      %td слушать (vt)
    %tr
      %td español
      %td испанский язык, испанец (m); испанский(adj)
    %tr
      %td estudiante
      %td студент (m)
    %tr
      %td estudiar
      %td учиться, изучать (vt)
    %tr
      %td Europa
      %td Европа (f)
    %tr
      %td facultad
      %td факультет (f)
    %tr
      %td faltar
      %td отсутствовать (vi)
    %tr
      %td grande
      %td большой (adj)
    %tr
      %td gris
      %td серый (adj)
    %tr
      %td hay
      %td имеется, стоит, лежит(о предмете)
    %tr
      %td historia
      %td история (f)
    %tr
      %td hoy
      %td сегодня (adv)
    %tr
      %td independencia
      %td независимость (f)
    %tr
      %td inglés
      %td английский язык, англичанин (m); английский (adj)
    %tr
      %td interés
      %td интерес (m)
    %tr
      %td lápiz
      %td карандаш (m)
    %tr
      %td le
      %td зд. его, ему ( le saludo)
    %tr
      %td lección
      %td урок (m)
    %tr
      %td lengua
      %td язык (f)
    %tr
      %td libertad
      %td свобода (f)
    %tr
      %td lucha
      %td борьба (f)
    %tr
      %td luego
      %td затем, потом (adv)
    %tr
      %td llegar (a)
      %td прибывать, приходить(куда–л.) (vi)
    %tr
      %td mapa
      %td карта (географическая) (m)
    %tr
      %td marrón
      %td коричневый (adj)
    %tr
      %td Moscú
      %td Москва (m)
    %tr
      %td mucho
      %td многие, много (adj)
    %tr
      %td muy
      %td очень (adv)
    %tr
      %td negro
      %td черный (adj)
    %tr
      %td noticia
      %td известие (f)
    %tr
      %td nuevo
      %td новый (adj)
    %tr
      %td otro
      %td другой (adj)
    %tr
      %td país
      %td страна (m)
    %tr
      %td pared
      %td стена (f)
    %tr
      %td periódico
      %td газета&nbsp; (m)
    %tr
      %td periodismo
      %td журналистика (m)
    %tr
      %td Perú
      %td Перу (m)
    %tr
      %td peruano
      %td перуанский (adj)
    %tr
      %td pluma (f) estil
      %td ográfica авторучка
    %tr
      %td por
      %td за (prep)
    %tr
      %td preguntar
      %td спрашивать (vt)
    %tr
      %td professor
      %td преподаватель (m)
    %tr
      %td pueblo
      %td народ (m)
    %tr
      %td puerta
      %td дверь (f)
    %tr
      %td saludar (a)
      %td приветствовать (кого–л.), здороваться (с кем–л.) (vt
    %tr
      %td silla
      %td стул (f)
    %tr
      %td sus
      %td зд. их (sus libros)
    %tr
      %td también
      %td также (adv)
    %tr
      %td terminar
      %td заканчивать (vt), оканчиваться (vi)
    %tr
      %td tiene(n)
      %td (3л, ед. ч. глагола tener) имеет(имеют)
    %tr
      %td ultimo
      %td последний (adj)
    %tr
      %td ventana
      %td окно (f)
    %tr
      %td verde
      %td зеленый (adj)
    %tr
      %td vida
      %td жизнь (f)
    %tr
      %td y
      %td и, а&nbsp; (conj)
    %tr
      %td ya
      %td уже (adv)
  %p Выражения и словосочетания:
  %p
    a pie&nbsp; – пешком
    %br/
    asistir a clase(de español) – присутствовать на занятиях (испанского языка)
    %br/
    Buenos días. – Добрый день. Здравствуйте.
    %br/
    contestar a las preguntas – отвечать на вопросы
    %br/
    está enfermo&nbsp;&nbsp;&nbsp; – он болен
    %br/
    hablar el ingles – говорить, уметь говорить по–английски
    %br/
    hablar en español – говорить(разговаривать) на испанском языке
    %br/
    hace preguntas –&nbsp;&nbsp; он(она) задает вопросы, спрашивает
    %br/
    ¿Qué tiempo hace hoy? – Какая сегодня погода?
    %br/
    hace buen tiempo – хорошая погода
    %br/
    hace sol – солнечно
    %br/
    llueve (no llueve) – идет (не идет) дождь
    %br/
    está(n) en clase – (он,она) находится (они находятся) на занятиях
    %br/
    Universidad de la Amistad de los Pueblos Particio Lumumba – Университет Дружбы народов им.Патриса Лумумбы
    %br/
    va(n) a clase – (он, она) идет (они идут) на занятия
    %br/
    va(n) a comer – идет (идут) обедать
  %p Texto “Andrés está en casa”
  %p
    \&nbsp;Hoy no hace sol, no hace buen tiempo. Llueve. Andrés está en casa. Andrés estudia en la Facultad de periodismo. Hoy no asiste a clase. Está enfermo.
    %br/
    \&nbsp;Andrés está en su cuarto. Su cuarto es grande y claro. Hay en él una mesa, cuatro sillas y un armario de color marrón. El cuarto tiene una puerta y dos ventanas. En la pared hay un mapa de América Latina. Sobre la mesa hay muchos libros y periódicos. Andrés escucha las últimas noticias. Luego escribe a un amigo cubano en español. Andrés habla el español. Termina la carta y lee un libro.
    %br/
    \&nbsp;Su amigo Alberto llega a casa de Andrés. Entra en su cuarto y saluda a Andrés. Los amigos hablan en español:
    %br/
    – Buenos días – dice Alberto – . ¿Qué lees? – pregunta a Andrés.
    %br/
    – Buenos días – contesta Andrés a su amigo – .
    %br/
    Leo un libro sobre la lucha de los países latinoamericanos por su libertad. Comprendo bien el libro.
    %br/
    \&nbsp;Alberto le hace preguntas sobre el libro y Andrés contesta a sus preguntas. Luego, Alberto sale de casa de Andrés y va a pie al club de la Universidad donde los compañeros latinoamericanos celebrant el Día de la Independencia de Venezuela.
  %p Texto “Gabriel estudia español”
  %p
    \&nbsp;Gabriel estudia en la Facultad de periodismo de la Universidad de Moscú. Habla el ingles y estudia el español. Ahora está en su cuarto. Gabriel escucha las últimas noticias y lee el periodic cubano “Granma”. Luego, sale de casa. Hoy asisten a clase de lengua española ocho alumnus. Los estudiantes ya están en clase. Falta Antónov. Está enfermo.
    %br/
    \&nbsp;El aula es grande y clara. Tiene una puerta y dos ventanas. Hay en el eula seis mesas y diez sillas. …
