%p
  \&nbsp;&nbsp; El sol es un globo de fuego,
  %br/
  \&nbsp;&nbsp; la luna es un disco morado.
  %br/
  \&nbsp;&nbsp; Una blanca paloma se posa
  %br/
  \&nbsp;&nbsp; en el alto ciprés centenario.
  %br/
  \&nbsp;&nbsp; Los cuadros de mirtos parecen
  %br/
  \&nbsp;&nbsp; De marchito velludo empolvado.
  %br/
  \&nbsp; ¡El jardín y la tarde tranquila!
  %br/
  \&nbsp;&nbsp; Suena el agua en la fuente de mármol.
  %br/
  \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(A.Machado)
