%table{:cellpadding => "0", :cellspacing => "0"}
  %col{:span => "3", :width => "75"}/
  %tr
    %td{:width => "111"} cifra
    %td{:width => "143"} ['θifra]
    %td{:width => "311"} цифра,число,код
  %tr
    %td cine
    %td ['θine]
    %td кинофильм,кинотеатр
  %tr
    %td zona
    %td ['θona]
    %td зона,район
  %tr
    %td zumo
    %td ['θumo]
    %td сок,польза
  %tr
    %td raza
    %td ['r:aθa]
    %td род,раса,вид,порода;щель
  %tr
    %td azafata
    %td [aθa'fata]
    %td стюардесса
  %tr
    %td pizarra
    %td [pi'θar:a]
    %td классная
  %tr
    %td acera
    %td [a'θera]
    %td тротуар,тропа;облицовка(домов)
  %tr
    %td hace
    %td ['aθe]
    %td делать,создавать
  %tr
    %td dice
    %td ['diθe]
    %td передавать,рассказывать
  %tr
    %td doce
    %td ['doθe]
    %td двенадцать
  %tr
    %td trece
    %td ['treθe]
    %td тринадцать
  %tr
    %td oficina
    %td [ofi'θina]
    %td контора,офис,бюро,мастерская
  %tr
    %td fácil
    %td ['faθil]
    %td легкий;вероятный;покладистый
  %tr
    %td dificil
    %td [di'fiθil]
    %td трудный,сложный;странный(о
  %tr
    %td azúcar
    %td [a'θukar]
    %td сахар
  %tr
    %td taza
    %td ['taθa]
    %td чашка,бассейн,унитаз
  %tr
    %td riqueza
    %td [r:i'keθa]
    %td богатство,капитал,состояние,обилие
  %tr
    %td ceniza
    %td [θe'niθa]
    %td зола,пепел,прах
  %tr
    %td cenicero
    %td [θeni'θero]
    %td пепельница
  %tr
    %td pereza
    %td [pe'reθa]
    %td лень,нерадивость
  %tr
    %td perezoso
    %td [pere'θoso]
    %td ленивый,сонливый;лентяй,лежебока
  %tr
    %td suceso
    %td [su'θeso]
    %td успех,событие,происшествие
  %tr
    %td sucesor
    %td [suθe'sor]
    %td преемник,наследник
%p
  <!–– end #mainContent ––>
  El zapatero hace zapatos.
  %br/
  [el θapa'tero?'aθe θa'patos↓]
  %br/
  El cine Zapata está en la plaza central.&nbsp;
  %br/
  [el 'θine θa'pata ↑| es'ta ͜ en la 'plaθa θen'tral↓]
  %br/
  Hace sol.
  %br/
  ['aθe 'sol↓]
