%table{:cellpadding => "0", :cellspacing => "0"}
  %col{:span => "3", :width => "75"}/
  %tr
    %td{:width => "75"} Roma
    %td{:width => "75"} ['r:oma]
    %td{:width => "75"} Рим
  %tr
    %td ropa
    %td ['r:opa]
    %td одежда,платье
  %tr
    %td ruso
    %td ['r:uso]
    %td русский
  %tr
    %td reforma
    %td [r:e'forma]
    %td реформа,преобразование
  %tr
    %td relato
    %td [r:e'lato]
    %td повествование,рассказ
  %tr
    %td refresco
    %td [r:e'fresko]
    %td прохл.напиток,легкое
  %tr
    %td retrato
    %td [r:e'trato]
    %td портрет,фотография
  %tr
    %td erre
    %td ['er:e]
    %td эрре(название
  %tr
    %td corre
    %td ['kor:e]
    %td бегать,мчаться
  %tr
    %td perro
    %td ['per:o]
    %td собака,пес;обман,ущерб
  %tr
    %td terreno
    %td [te'r:eno]
    %td площадь,поверхность,область,местность,почва
  %tr
    %td arena
    %td [a'rena]
    %td песок,арена
  %tr
    %td morena
    %td [mo'rena]
    %td мурена;стог;хлеб
  %tr
    %td torero
    %td [to'rero]
    %td тореро
  %tr
    %td risa
    %td ['r:isa]
    %td смех,хохот,насмешка
  %tr
    %td remero
    %td [r:e'mero]
    %td гребец
  %tr
    %td Retiro
    %td [r:e'tiro]
    %td пенсия,отставка,уединение
  %tr
    %td carrera
    %td [ka'r:era]
    %td бег,путь,трек;профессия
  %tr
    %td carretera
    %td [kar:e'tera]
    %td шоссе,автострада
%p
  Roque rema.&nbsp;&nbsp;
  %br/
  ['r:oke 'r:ema↓]
  %br/
  Ramón aprende el ruso.
  %br/
  [r:a'mon–a'prende ͜ el 'r:uso↓]
  %br/
  Enrique rema.
  %br/
  [en'r:ike 'r:ema↓]
  %br/
  Un perro corre por la carretera.
  %br/
  ['um 'per:o 'kor:e por la kar:e'tera↓]
  %br/
  La ropa está en el ropero.
  %br/
  [la 'r:opa es'ta ͜ en–el r:o'pero↓]
