%table{:cellpadding => "0", :cellspacing => "0"}
  %col{:span => "3", :width => "75"}/
  %tr
    %td{:width => "75"} сhaqueta
    %td{:width => "75"} [ĉa'keta]
    %td{:width => "75"} жакет,пиджак
  %tr
    %td checo
    %td ['ĉeko]
    %td чех,чешский
  %tr
    %td chico
    %td ['ĉiko]
    %td маленький,ребенок,малыш,мальчик
  %tr
    %td chófer
    %td ['ĉofeR]
    %td шофер
  %tr
    %td chuleta
    %td [ĉu'leta]
    %td отбивная;вставка,шпаргалка
  %tr
    %td noche
    %td ['noĉe]
    %td ночь,вечер,мрак,темень
  %tr
    %td coche
    %td ['koĉe]
    %td машина,экипаж,вагон
  %tr
    %td techo
    %td ['teĉo]
    %td потолок,кровля,дом
  %tr
    %td hecho
    %td [eĉo]
    %td похожий,готовый,зрелый;факт,дело,поступок
%p
  Charlamos con el muchacho.
  %br
  [ĉar'lamos kon–el mu'ĉaĉo↓]
  %br
  Vamos en coche.
  %br
  ['bamos–eŋ 'koĉe↓]
  %br
  Corre mucho.
  %br
  ['kor:e 'muĉo↓]