%table{:cellpadding => "0", :cellspacing => "0"}
  %col{:span => "3", :width => "75"}/
  %tr
    %td{:width => "129"} cubano
    %td{:width => "164"} [ku'βano]
    %td{:width => "351"} кубинский
  %tr
    %td tabaco
    %td [ta'βako]
    %td табак
  %tr
    %td bebe
    %td ['beβe]
    %td малыш,ребенок
  %tr
    %td avena
    %td [a'βena]
    %td овёс
  %tr
    %td noveno
    %td [no'βeno]
    %td девятый
  %tr
    %td una vaca
    %td ['una 'βaka]&nbsp;&nbsp;&nbsp;
    %td корова,говядина
  %tr
    %td una butaca
    %td ['una βu'taka]&nbsp;
    %td кресло
  %tr
    %td alfabeto
    %td [alfa'βeto]
    %td алфавит,азбука
  %tr
    %td aventura
    %td [aβen'tura]
    %td приключение,авантюра,риск,случайность
  %tr
    %td una bota
    %td ['una 'βota]&nbsp;&nbsp;&nbsp;
    %td бочка,сапог,бурдюк
  %tr
    %td una ventana
    %td ['una βen'tana]
    %td окно,ноздря
  %tr
    %td un vaso
    %td ['um 'baso]&nbsp;&nbsp;&nbsp;&nbsp;
    %td ваза,сосуд,стакан,корабль
  %tr
    %td en Brasil
    %td ['em Bra'sil]&nbsp;&nbsp;
    %td Бразилия
%p
  Arturo habla.
  %br/
  [ar'turo ͜ 'aβla↓]
  %br/
  Benito escribe una carta.
  %br/
  [be'nito ͜ es'kriβe ͜ 'una 'karta↓]
  %br/
  Benito lee una novela.
  %br/
  [be'nito 'lee ͜ 'una no'βela↓]
  %br/
  Lope toma un libro.
  %br/
  ['lope 'toma ͜ 'un 'liβro↓]