%table{:cellpadding => "0", :cellspacing => "0"}
  %col{:span => "3", :width => "75"}/
  %tr
    %td{:width => "141"} medida
    %td{:width => "163"} [me'ðiða]
    %td{:width => "322"} мера,размер,соответствие,измерение
  %tr
    %td Toledo
    %td [to'leðo]
    %td город
  %tr
    %td nublado
    %td [nu'βlaðo]
    %td облачный,пасмурный
  %tr
    %td parado
    %td [pa'raðo]
    %td слабый,вялый,безработный
  %tr
    %td educado
    %td [eðu'kaðo]
    %td воспитанный
  %tr
    %td helado
    %td [e'laðo]
    %td холодный,ледяной;мороженое
  %tr
    %td tratado
    %td [tra'taðo]
    %td договор,трактат
  %tr
    %td una dama
    %td ['una 'ðama]
    %td дама,госпожа
  %tr
    %td una disputa
    %td ['una ðis'puta]
    %td спор,ссора,дебаты
  %tr
    %td sed
    %td ['seᶞ]
    %td жажда,сухость;страсть
  %tr
    %td pared
    %td [pa'reᶞ]
    %td стена,перегородка
  %tr
    %td verdad
    %td [ber'ðaᶞ]
    %td правда,истина
%p
  Sale de casa.
  %br/
  ['sale ðe 'kasa↓]
  %br/
  Una moneda de oro.
  %br/
  ['una mo'neða ðe ͜ 'oro↓]
  %br/
  Una pared verde.
  %br/
  ['una pa'reð 'βerðe↓]
  %br/
  Un hombre educado.
  %br/
  ['un–'ombre ͜ eðu'kaðo↓]
  %br/
  Un tratado de amistad.
  %br/
  ['un tra'taðo ðe ͜ amis'taᶞ↓]
  %br/
  Van a la Universidad de Madrid.
  %br/
  ['ban–a la ͜ uniβersi'ðað ðe ma'ðriᶞ↓]
