%table{:cellpadding => "0", :cellspacing => "0"}
  %col{:span => "3", :width => "75"}/
  %tr
    %td{:width => "91"} agosto
    %td{:width => "111"} [a'ɣosto]
    %td{:width => "438"} август
  %tr
    %td amigo
    %td [a'miɣo]
    %td друг,приятель,поклонник
  %tr
    %td enemigo
    %td [ene'miɣo]
    %td враг,противник
  %tr
    %td prólogo
    %td ['proloɣo]
    %td пролог,предисловие
  %tr
    %td seguro
    %td [se'ɣuro]
    %td безопасный,верный,надежный,уверенный;гарантия
  %tr
    %td segundo
    %td [se'ɣundo]
    %td второй;секунда
  %tr
    %td pregunta
    %td [pre'ɣunta]
    %td вопрос
  %tr
    %td siglo
    %td ['siɣlo]
    %td век,эпоха;общество,свет
  %tr
    %td peligro
    %td [pe'liɣro]
    %td опасность,риск
  %tr
    %td progreso
    %td [pro'ɣreso]
    %td успех,достижение,развитие,прогресс
  %tr
    %td agregado
    %td [aɣre'ɣaðo]
    %td атташе
  %tr
    %td agrónomo
    %td [a'ɣronomo]
    %td агроном
%p
  Un amigo de Aguirre toca la guitarra.
  %br/
  ['un–a'miɣo ðe ͜ a'ɣir:e ↑| 'toka la ?i'tar:a↓]
  %br/
  Miguel está de agregado cultural en Praga.
  %br/
  [mi'ɣel–es'ta ðe ͜ aɣre'ɣaðo kultu'ral–em 'praɣa↓]
  %br/
  En Inglaterra se habla el inglés.
  %br/
  [en–iŋgla'ter:pa se ͜ 'aβla ͜ el–iŋ'gles↓]
  %br/
  Lo hago con mucho gusto.
  %br/
  [lo ͜ 'aɣo kom 'muĉo 'ɣusto↓]
  %br/
  Un segundo enseguida vengo.
  %br/
  ['un se'ɣundo ↓| ense'ɣiða 'βeŋgo↓]
